.slider {    
    width: 40vw;
    height: 45vh;
    background-color: rgb(182, 182, 182);
    overflow: hidden;
}

.slider-arrow-container {
    position: relative;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    z-index: 1000;
    text-decoration: none;
    cursor: default;
}

.slider-arrow {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    border: none;
    font-size: 18px;
    cursor: pointer;
    transition: all ease 0.3s;
    opacity: 0.4;
}

.slider-arrow:hover {
    opacity: 1;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.5);
}

.slider-arrow:first-child {
    margin-left: 10px;
}

.slider-arrow:last-child {
    margin-right: 10px;
}

.slider-container {
    display: flex;
    transform: translateY(-100%);
    height: 100%;
    transition: all ease-out 0.7s;
}

.slider-container .slider-img {
    text-decoration: none;
    display: block;
    min-width: 40vw;
    min-height: 45vh;
    background-position: center;
    background-size: cover;
}

.cursor-pointer {
    cursor: pointer;
}